---
import "../../styles/mdx-boxes.css";

// Sample component for MDX helper styling.
const { class: className } = Astro.props;
---

<section class:list={["mdxbox", "mdxbox--cmd", className]}>
  <div class="mdxbox__icon" aria-hidden="true">
    <svg viewBox="0 0 24 24" role="img">
      <path d="M5 7l4 4-4 4" />
      <path d="M11 17h8" />
    </svg>
  </div>
  <div class="mdxbox__body">
    <pre class="mdxbox__cmd"><code><slot /></code></pre>
  </div>
</section>
